<!DOCTYPE html>
<html ng-app="movieStubApp">
<head>
	<title>Movie Stub - Book Movie Tickets Online</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
	<script type="text/javascript" src="js/lib/angular.min.js"></script>
	<script type="text/javascript" src="js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/controller/angularApp.js"></script>
</head>
<body class="container" ng-controller="movieStubController">
	<h1>Movie Stub</h1>
	<h4>Book Movie Tickets Online</h4>
	<br />
	<h4>Movie Screening: </h4>
	<ul>
		<li ng-repeat="movie in movies">
			{{movie.id}} - {{movie.name}} - {{movie.rating}}
		</li>
	</ul>
</body>